table {
    border: 1px solid;
    width: 500px;
}
td {
    border: 1px solid;
    text-align: center;
}
th {
    border: 1px solid;
    text-align: left;
}
h1 {
    text-align: right;
}
h2 {
    text-align: center;
    width: 300px;
}
p {
    width: 300px;
    text-align: justify;
}